/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: white;
}

/* Section Styles */

.main-nav, .main-projects {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
}

.main-start h1 {
  margin-top: 35px;
}

.nav a:hover {
  border: 1px solid white;
  padding: 5px;
}
.nav a:focus {
  color: #14b297;
}

.nav {
  display: flex;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}

header {
  text-align: center;
  background: url('images/black.jpg') no-repeat center / cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #222;
  font-size: 30px;
  color: #14b297;
}

main {
  background-color: lightgray;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #5a5a5a;
  color: white;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: black;
}

.card h2 {
  text-align: center;
}

.line { 
  border-left: 1px solid black;
  height: 410px;
 }

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: black;
  color: white;
  padding: 5px 10px;
  margin: 2px;
  font-size: 25px;
  width: 50px;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  background-color: black;
  color: white;
}

footer .copyright {
  font-size: 15px;
}

.email {
  color: white;
  font-size: 20px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

.fa-brands {
  color: #14b297;
  font-size: 30px;
  margin-right: 0px;
}

.fa-linkedin {
  margin-right: 25px;
}

footer .fa-brands:hover {
  opacity: .5;
}

.wrap {
  min-height: calc(100vh - 177px);
  background-color: lightgray;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 100%;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  .card {
    width: 48%;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 100%;
  }

}

@media screen and (max-width: 719px) {
  .line {
    display: none;
  }

  header {
    background: url('images/black.jpg') no-repeat center / cover;
  }
  
  body {
    background-color: lightgray;
  }
  .name {
    display: none;
  }

  .nav li {
    margin-left: auto;
    margin-right: auto;
  }

}

.flex-projects {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project {
  border: 4px solid black;
  margin-right: 30px;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-list{
  list-style-type: none;
  padding-right: 50px;
  max-height: 400px;
}

.contact-list i {
  color: black;
  font-size: 50px;
  padding-bottom: 20px;
}

.contact-style {
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.contact-img {
  width: 700px;
  height: 300px;
  margin-bottom: 15px;
}

